---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 61bd86908490ae38ee7c3987e26726b45174e519
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1566499650'
      Etag:
      - W/"7f7785bd335189e0a810e7c2e30d994f"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":197028412,"node_id":"MDEwOlJlcG9zaXRvcnkxOTcwMjg0MTI=","name":"monster_shop","full_name":"GlynnisOC/monster_shop","private":false,"owner":{"login":"GlynnisOC","id":44204866,"node_id":"MDQ6VXNlcjQ0MjA0ODY2","avatar_url":"https://avatars0.githubusercontent.com/u/44204866?v=4","gravatar_id":"","url":"https://api.github.com/users/GlynnisOC","html_url":"https://github.com/GlynnisOC","followers_url":"https://api.github.com/users/GlynnisOC/followers","following_url":"https://api.github.com/users/GlynnisOC/following{/other_user}","gists_url":"https://api.github.com/users/GlynnisOC/gists{/gist_id}","starred_url":"https://api.github.com/users/GlynnisOC/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/GlynnisOC/subscriptions","organizations_url":"https://api.github.com/users/GlynnisOC/orgs","repos_url":"https://api.github.com/users/GlynnisOC/repos","events_url":"https://api.github.com/users/GlynnisOC/events{/privacy}","received_events_url":"https://api.github.com/users/GlynnisOC/received_events","type":"User","site_admin":false},"html_url":"https://github.com/GlynnisOC/monster_shop","description":null,"fork":true,"url":"https://api.github.com/repos/GlynnisOC/monster_shop","forks_url":"https://api.github.com/repos/GlynnisOC/monster_shop/forks","keys_url":"https://api.github.com/repos/GlynnisOC/monster_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/GlynnisOC/monster_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/GlynnisOC/monster_shop/teams","hooks_url":"https://api.github.com/repos/GlynnisOC/monster_shop/hooks","issue_events_url":"https://api.github.com/repos/GlynnisOC/monster_shop/issues/events{/number}","events_url":"https://api.github.com/repos/GlynnisOC/monster_shop/events","assignees_url":"https://api.github.com/repos/GlynnisOC/monster_shop/assignees{/user}","branches_url":"https://api.github.com/repos/GlynnisOC/monster_shop/branches{/branch}","tags_url":"https://api.github.com/repos/GlynnisOC/monster_shop/tags","blobs_url":"https://api.github.com/repos/GlynnisOC/monster_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/GlynnisOC/monster_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/GlynnisOC/monster_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/GlynnisOC/monster_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/GlynnisOC/monster_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/GlynnisOC/monster_shop/languages","stargazers_url":"https://api.github.com/repos/GlynnisOC/monster_shop/stargazers","contributors_url":"https://api.github.com/repos/GlynnisOC/monster_shop/contributors","subscribers_url":"https://api.github.com/repos/GlynnisOC/monster_shop/subscribers","subscription_url":"https://api.github.com/repos/GlynnisOC/monster_shop/subscription","commits_url":"https://api.github.com/repos/GlynnisOC/monster_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/GlynnisOC/monster_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/GlynnisOC/monster_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/GlynnisOC/monster_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/GlynnisOC/monster_shop/contents/{+path}","compare_url":"https://api.github.com/repos/GlynnisOC/monster_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/GlynnisOC/monster_shop/merges","archive_url":"https://api.github.com/repos/GlynnisOC/monster_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/GlynnisOC/monster_shop/downloads","issues_url":"https://api.github.com/repos/GlynnisOC/monster_shop/issues{/number}","pulls_url":"https://api.github.com/repos/GlynnisOC/monster_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/GlynnisOC/monster_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/GlynnisOC/monster_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/GlynnisOC/monster_shop/labels{/name}","releases_url":"https://api.github.com/repos/GlynnisOC/monster_shop/releases{/id}","deployments_url":"https://api.github.com/repos/GlynnisOC/monster_shop/deployments","created_at":"2019-07-15T15:47:04Z","updated_at":"2019-08-10T20:49:19Z","pushed_at":"2019-08-10T20:49:20Z","git_url":"git://github.com/GlynnisOC/monster_shop.git","ssh_url":"git@github.com:GlynnisOC/monster_shop.git","clone_url":"https://github.com/GlynnisOC/monster_shop.git","svn_url":"https://github.com/GlynnisOC/monster_shop","homepage":null,"size":336,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":27,"license":null,"forks":3,"open_issues":27,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":187689243,"node_id":"MDEwOlJlcG9zaXRvcnkxODc2ODkyNDM=","name":"cross_check","full_name":"ktsune/cross_check","private":false,"owner":{"login":"ktsune","id":25758230,"node_id":"MDQ6VXNlcjI1NzU4MjMw","avatar_url":"https://avatars1.githubusercontent.com/u/25758230?v=4","gravatar_id":"","url":"https://api.github.com/users/ktsune","html_url":"https://github.com/ktsune","followers_url":"https://api.github.com/users/ktsune/followers","following_url":"https://api.github.com/users/ktsune/fol[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 61bd86908490ae38ee7c3987e26726b45174e519
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '156649[...]
