---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1566502506'
      Etag:
      - W/"4e3c85e4d1d060507ff3d5d177edfed5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":185269765,"node_id":"MDEwOlJlcG9zaXRvcnkxODUyNjk3NjU=","name":"ramen","full_name":"froydroyce/ramen","private":false,"owner":{"login":"froydroyce","id":44950896,"node_id":"MDQ6VXNlcjQ0OTUwODk2","avatar_url":"https://avatars3.githubusercontent.com/u/44950896?v=4","gravatar_id":"","url":"https://api.github.com/users/froydroyce","html_url":"https://github.com/froydroyce","followers_url":"https://api.github.com/users/froydroyce/followers","following_url":"https://api.github.com/users/froydroyce/following{/other_user}","gists_url":"https://api.github.com/users/froydroyce/gists{/gist_id}","starred_url":"https://api.github.com/users/froydroyce/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/froydroyce/subscriptions","organizations_url":"https://api.github.com/users/froydroyce/orgs","repos_url":"https://api.github.com/users/froydroyce/repos","events_url":"https://api.github.com/users/froydroyce/events{/privacy}","received_events_url":"https://api.github.com/users/froydroyce/received_events","type":"User","site_admin":false},"html_url":"https://github.com/froydroyce/ramen","description":null,"fork":false,"url":"https://api.github.com/repos/froydroyce/ramen","forks_url":"https://api.github.com/repos/froydroyce/ramen/forks","keys_url":"https://api.github.com/repos/froydroyce/ramen/keys{/key_id}","collaborators_url":"https://api.github.com/repos/froydroyce/ramen/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/froydroyce/ramen/teams","hooks_url":"https://api.github.com/repos/froydroyce/ramen/hooks","issue_events_url":"https://api.github.com/repos/froydroyce/ramen/issues/events{/number}","events_url":"https://api.github.com/repos/froydroyce/ramen/events","assignees_url":"https://api.github.com/repos/froydroyce/ramen/assignees{/user}","branches_url":"https://api.github.com/repos/froydroyce/ramen/branches{/branch}","tags_url":"https://api.github.com/repos/froydroyce/ramen/tags","blobs_url":"https://api.github.com/repos/froydroyce/ramen/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/froydroyce/ramen/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/froydroyce/ramen/git/refs{/sha}","trees_url":"https://api.github.com/repos/froydroyce/ramen/git/trees{/sha}","statuses_url":"https://api.github.com/repos/froydroyce/ramen/statuses/{sha}","languages_url":"https://api.github.com/repos/froydroyce/ramen/languages","stargazers_url":"https://api.github.com/repos/froydroyce/ramen/stargazers","contributors_url":"https://api.github.com/repos/froydroyce/ramen/contributors","subscribers_url":"https://api.github.com/repos/froydroyce/ramen/subscribers","subscription_url":"https://api.github.com/repos/froydroyce/ramen/subscription","commits_url":"https://api.github.com/repos/froydroyce/ramen/commits{/sha}","git_commits_url":"https://api.github.com/repos/froydroyce/ramen/git/commits{/sha}","comments_url":"https://api.github.com/repos/froydroyce/ramen/comments{/number}","issue_comment_url":"https://api.github.com/repos/froydroyce/ramen/issues/comments{/number}","contents_url":"https://api.github.com/repos/froydroyce/ramen/contents/{+path}","compare_url":"https://api.github.com/repos/froydroyce/ramen/compare/{base}...{head}","merges_url":"https://api.github.com/repos/froydroyce/ramen/merges","archive_url":"https://api.github.com/repos/froydroyce/ramen/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/froydroyce/ramen/downloads","issues_url":"https://api.github.com/repos/froydroyce/ramen/issues{/number}","pulls_url":"https://api.github.com/repos/froydroyce/ramen/pulls{/number}","milestones_url":"https://api.github.com/repos/froydroyce/ramen/milestones{/number}","notifications_url":"https://api.github.com/repos/froydroyce/ramen/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/froydroyce/ramen/labels{/name}","releases_url":"https://api.github.com/repos/froydroyce/ramen/releases{/id}","deployments_url":"https://api.github.com/repos/froydroyce/ramen/deployments","created_at":"2019-05-06T20:49:32Z","updated_at":"2019-05-06T21:04:33Z","pushed_at":"2019-05-06T21:04:32Z","git_url":"git://github.com/froydroyce/ramen.git","ssh_url":"git@github.com:froydroyce/ramen.git","clone_url":"https://github.com/froydroyce/ramen.git","svn_url":"https://github.com/froydroyce/ramen","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":194322359,"node_id":"MDEwOlJlcG9zaXRvcnkxOTQzMjIzNTk=","name":"activerecord-obstacle-course","full_name":"tbierwirth/activerecord-obstacle-course","private":false,"owner":{"login":"tbierwirth","id":46985326,"node_id":"MDQ6VXNlcjQ2OTg1MzI2","avatar_url":"https://avatars0.githubusercontent.com/u/46985326?v=4","gravatar_id":"","url":"https://api.github.com/users/tbierwirth","html_url":"https://github.com/tbierwirth","followers_url":"https://api.github.com/users/tbierwirth/followers","f[...]
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4983'
      X-Ratelimit-Reset:
      - '1566502506'
      Etag:
      - W/"[...]
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<GITHUB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4982'
      X-Ratelimit-Reset:
      - '1566502506'
      Etag:
      - W/"[...]
